HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
bin/
*~
*.rej
*.bak

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### ANTLR ###
gen/
/.metadata/
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/controllers/BaseController.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/entities/Paquete1/Domicilio.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/entities/Paquete1/Persona.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/repositories/AutorRepository.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/repositories/BaseRepository.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/repositories/LocalidadRepository.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/repositories/PersonaRepository.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/services/AutorService.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/services/AutorServiceImpl.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/services/BaseServiceImpl.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/services/LocalidadService.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/services/LocalidadServiceImpl.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/services/PersonaService.java
AcceleoJavaSpring/CodigoGenerado/src/main/java/com/example/demo/services/PersonaServiceImpl.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/controllers/BaseController.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/entities/BaseEntity.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/entities/Paquete1/Autor
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/entities/Paquete1/Domicilio
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/entities/Paquete1/Libro
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/entities/Paquete1/Localidad
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/entities/Paquete1/Persona
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/repositories/AutorRepository.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/repositories/BaseRepository.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/repositories/LocalidadRepository.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/repositories/PersonaRepository.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/services/AutorService.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/services/AutorServiceImpl.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/services/BaseService.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/services/BaseServiceImpl.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/services/LocalidadService.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/services/LocalidadServiceImpl.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/services/PersonaService.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com.example.demo/services/PersonaServiceImpl.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/controllers/BaseController.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/repositories/AutorRepository.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/repositories/BaseRepository.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/repositories/LocalidadRepository.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/repositories/PersonaRepository.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/services/AutorService.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/services/AutorServiceImpl.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/services/BaseService.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/services/BaseServiceImpl.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/services/LocalidadService.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/services/LocalidadServiceImpl.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/services/PersonaService.java
AcceleoJavaSpring/JavaGenerated/src/main/java/com/example/demo/services/PersonaServiceImpl.java
*.java
*.launch
*.launch
*.emtl
*.emtl
