<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated diagramaClasesCompleto -->
      <package
            uri="http://www.example.org/diagramaClasesCompleto"
            class="diagramaClasesCompleto.DiagramaClasesCompletoPackage"
            genModel="model/diagramaClasesCompleto.genmodel"/>
   </extension>

</plugin>
