<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated diagramaClasesCompleto -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="diagramaClasesCompleto.presentation.DiagramaClasesCompletoModelWizardID"
            name="%_UI_DiagramaClasesCompletoModelWizard_label"
            class="diagramaClasesCompleto.presentation.DiagramaClasesCompletoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DiagramaClasesCompletoModelFile.gif">
         <description>%_UI_DiagramaClasesCompletoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated diagramaClasesCompleto -->
      <editor
            id="diagramaClasesCompleto.presentation.DiagramaClasesCompletoEditorID"
            name="%_UI_DiagramaClasesCompletoEditor_label"
            icon="icons/full/obj16/DiagramaClasesCompletoModelFile.gif"
            extensions="diagramaclasescompleto"
            class="diagramaClasesCompleto.presentation.DiagramaClasesCompletoEditor"
            contributorClass="diagramaClasesCompleto.presentation.DiagramaClasesCompletoActionBarContributor">
      </editor>
   </extension>

</plugin>
